* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
.container {
  min-width: 300px;
  min-height: 100px;
  background-color: #FFF;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 5px 10px 18px #000000;
}

.icons {
  float: right;
}

.icons::after{
  content: '';
  display: table;
  clear: both;
}

.icons i {
  cursor: pointer;
  margin-left: 5px;
}
ul.list {
  width: 100%;

}
ul.list li {
  font-size: 20px;
  list-style: none;
  padding: 15px 0;
  margin-bottom: 15px;
}

.text {
  width: 100%;
  padding: 5px 0;
  border-radius: 5px;
  outline: none;
}

.text::placeholder {
  padding-left: 5px;
}

.crossed {
  text-decoration: line-through;
}
